# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# project specific
/chromedriver.exe
/chromedriver_win32.zip
/*.csv
/.pabotsuitenames
/dash.config.yml
/ctb.config.yml
/dash/
/newphoria/
/translate.yml
/config.yml